<mat-card>
    <form (submit)="onEditAlbum(albumForm)" #albumForm="ngForm">
      <mat-form-field>
          <label> Album Name</label>
        <input
          matInput
          type="text"
          name="title"
          ngModel={{album.name}}
          required
          #title="ngModel">
      </mat-form-field>
      <mat-form-field>
          <label>Album Year</label>
        <textarea
          matInput
          name="year"
          ngModel={{album.year}}
          required
          #content="ngModel"></textarea>
      </mat-form-field>
      <button
        mat-raised-button
        color="accent"
        type="submit">Edit Album</button>
    </form>
  </mat-card>